#!/bin/sh
#
# Simple Redis init.d script conceived to work on Linux systems
# as it does use of the /proc filesystem.

REDISPORT={{ redis_port }}
REDISUSER={{ redis_user }}
REDISGROUP={{ redis_group }}
{% if redis_requirepass is defined %}
REDISPWD={{ redis_requirepass }}
{% endif %}
EXEC=/usr/local/bin/redis-server
CLIEXEC=/usr/local/bin/redis-cli

PIDFILE=/var/run/redis/${REDISPORT}.pid
PIDDIR=`dirname "${PIDFILE}"`
CONF="/etc/redis/${REDISPORT}.conf"

case "$1" in
    start)
        if [ -n "$(which hugeadm)" ]
        then
          hugeadm --thp-never
        fi

        if [ -f $PIDFILE ]
        then
                echo "$PIDFILE exists, process is already running or crashed"
        else
                echo "Starting Redis server..."
        mkdir -p ${PIDDIR}
        chown ${REDISUSER}:${REDISGROUP} ${PIDDIR}
                su ${REDISUSER} -c "$EXEC $CONF"
        fi
        ;;
    stop)
        if [ ! -f $PIDFILE ]
        then
                echo "$PIDFILE does not exist, process is not running"
        else
                PID=$(cat $PIDFILE)
                echo "Stopping ..."
                if [ -z $REDISPWD ]
                then
                  su ${REDISUSER} -c "$CLIEXEC -p $REDISPORT shutdown"
                else
                  su ${REDISUSER} -c "$CLIEXEC -p $REDISPORT -a $REDISPWD shutdown"
                fi
                while [ -x /proc/${PID} ]
                do
                    echo "Waiting for Redis to shutdown ..."
                    sleep 1
                done
                echo "Redis stopped"
        fi
        ;;
    *)
        echo "Please use start or stop as first argument"
        ;;
esac
